* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color:white;
    background: linear-gradient(198deg, rgba(54,77,204,1) 23%, rgba(89,8,86,1) 63%);

}   
    
.bigorna {
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white; /* tamanho de cima, baixo, espalhamento e cor*/
}
h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;
}
h2 {
    font-size: 16px;
    padding-bottom: 150px;
    
    
}
.profile {
    margin-top: 20px;
    text-align: center;
}
.social img {
    width: 33px;
}

.social {
    display: flex; 
    justify-content: space-between; 
    list-style: none;
    margin-top:50px 0; 
}
.links-list {
    list-style: none;
}
.links-list li{
    margin: 10px 20px;
}

.links-list li a {
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: purple;
    font-weight: bold;
    box-shadow: 50px 50px black;


}
.links-list li a span {
    color: gray;
    display: block;
    margin-top: 10px;
}



