* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color:white;
    background: rgb(54,77,204);
    background: linear-gradient(9deg, rgba(54,77,204,1) 23%, rgba(8,20,89,1) 100%);
    
}
.bigorna {
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white; /* tamanho de cima, baixo, espalhamento e cor*/
}
h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;
}
h2 {
    font-size: 16px;
    
}
.profile {
    margin-top: 20px;
    text-align: center;
}
.social img {
    width: 33px;
}

.social {
    display: inline; 
    justify-content:space-between; 
    list-style: none;
    margin-top: 20px 0;
}
.links-list {
    background-color: white;
    color:  purple;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;

}
